<!-- footer -->
<footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                    <div class="footer-logo mb-3">
                        <!--a class="footer-brand-logo" href="index"><span class="fa fa-smile-o mr-1"></span>BUCare</a-->
                        <a class="footer-brand-logo" href="#index">
                            <img src="media/imgs/template/bu_logo.jpg" alt="BU Logo" title="Babcock University Logo" class="bu_logo" /> BUCare
                        </a> 
                    </div>
                    <p>BUCare is Babcock University Student Support Online portal</p>
                    <br>
                    <p class="mb-3">Our e-therapy gives you the opportunity to speak to a therapist, counsellor or
                        analyst
                        online, without having to meet them face to face.</p>

                    <div class="main-social-footer-29 mt-4">
                        <a href="https://www.facebook.com/babcocknigeria/" target="_blank" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="https://twitter.com/babcock_univ?lang=en" target="_blank" class="twitter"><span class="fa fa-twitter"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Useful Links</h6>
                        <li><a href="about">About Us</a></li>
                        <li><a href="services">Services</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="contact">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Services</h6>
                    <ul>
                        <li><a href="about#academicSupport">Academic Support</a></li>
                        <li><a href="about#psychologicalSupport">Psychosocial Support</a></li>
                        <li><a href="about#socailWelfareSupport">Social Welfare Support</a></li>
                        <li><a href="about#specialDuties">Special Duties</a></li>
                        <li><a href="about#mentorshipProgram">Mentorship Program</a></li>
                        <li><a href="about#bereavementServices">Bereavement Services</a></li>

                    </ul>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">What is Online Counselling?</h6>
                    <p class="mb-3"> Online counselling can provide a valuable service to you if you require
                        therapeutic help
                        but have shied away from it before due to either emotional or practical reasons. </p>
                    <p class="mb-3">Also known as internet counselling, e-counselling, web therapy or remote
                        therapy, this kind
                        of counselling is a good solution for people who need counselling but cannot get to a
                        therapist’s office
                        or those who prefer to keep in contact at a distance from wherever they are.</p>


                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->

    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">Copyright © 2021 Babcock University. All Rights Reserved</p>

                <div class="col-lg-4 footer-list-29">
                    <ul class="d-flex text-lg-right">
                        <li><a href="#careers"> FAQs</a></li>
                        <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
                        <li><a href="contact">Contact us</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</footer>