<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/">
	<title>Therapist Rating Information | BUCare</title>
	<link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="css/template_styles/style-starter.css">

	<!-- My Styles -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div id="toastContainer" class="toast4UpdateInfo"></div>

	<%- include('./partials/header') %>


	<%- include('./partials/footer') %>
	
	<!-- //copyright -->
	<!-- Template JavaScript -->
	<script src="js/template_scripts/jquery-3.3.1.min.js"></script>
	<script src="js/template_scripts/theme-change.js"></script>
	<!--/MENU-JS-->
	<script>
		$(window).on("scroll", function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 80) {
				$("#site-header").addClass("nav-fixed");
			} else {
				$("#site-header").removeClass("nav-fixed");
			}
		});

		//Main navigation Active Class Add Remove
		$(".navbar-toggler").on("click", function () {
			$("header").toggleClass("active");
		});
		$(document).on("ready", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
			$(window).on("resize", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
			});
		});
	</script>
	<!--//MENU-JS-->
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>
	<script src="js/template_scripts/bootstrap.min.js"></script>
	
	<!-- My Script -->
	<script src="js/script.js"></script>

</body>

</html>