<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Our Therapists | BUCare</title>
	<link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">

	<!-- Template CSS -->
	<link rel="stylesheet" href="css/template_styles/style-starter.css">

	<!-- My Styles -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	
	<%- include('./partials/header') %> 

	<!--/w3l-breadcrumb-->
	<section class="w3l-about-breadcrumb">
		<div class="breadcrumb-bg breadcrumb-bg-about py-5">
			<div class="container">
				<h2 class="title">Meet Our Therapists</h2>
				<ul class="breadcrumbs-custom-path mt-3 text-center">
					<li><a href="index.html">Home</a></li>
					<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Our Team </li>
				</ul>
			</div>
		</div>
	</section>
	<!--//w3l-breadcrumb-->
	<!--/services-->
	<section class="w3l-services1">
		<div id="content-with-photo4-block" class="py-2">
			<div class="container py-md-5 py-3">
				<div class="cwp4-two row">
					<div class="cwp4-text col-lg-10">
						<h6 class="sub-titlehny">We Care</h6>
						<h3 class="hny-title"> ...we would like to help you achieve positive outcomes in your life.</h3>
						<div class="separatorhny"></div>
						<p>Our practitioners are skilled in a range of therapeutic approaches so we can specifically tailor our services to you. <br><br>

						We understand that no two people or issues are the same, so our delivery is responsive, flexible and creative, by matching our services, care and approach to your needs, so you may achieve your therapeutic goals.<br><br>
						
						Combined, our practitioners have experience helping students, families, adolescents, children and parents, so we would like to help you achieve positive outcomes in your life.
					
						</p>
					</div>
				
				</div>
			
			</div>
		</div>
	</section>

		<!--/team-sec-->
		<section class="w3l-team py-3" id="team">
			<div class="container py-lg-4 py-sm-3">
			<div class="header-sec text-center">
				<div class="title-content">
					<h6 class="sub-titlehny">Our Counselling Team</h6>
						<div class="separatorhny"></div>
				</div>
	
			</div>	
			<div class="row text-center mt-5">
				<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="defaults/okonkwo.jpg" class="img-fluid" alt="">
					<div class="team-info">
					<div class="caption">
						<div class="social-icons-section text-center">
						<a class="fac" mailto="okonkwoe@babcock.edu.ng">
							<span class="fa fa-envelope"></span>
						</a>
						</div>
					</div>
					</div>
				</div>
				<h4><a href="#okonkwo">DR. ELIZABETH N. OKONKWO</a></h4>
				<h5>Counsellor</h5>
				</div>
				<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="defaults/Tominiyi.jpg" class="img-fluid" alt="Tominiyi">
					<div class="team-info">
					<div class="caption">
						<div class="social-icons-section text-center">
						<a class="fac" mailto="omotoshot@babcock.edu.ng">
							<span class="fa fa-envelope"></span>
						</a>
						</div>
					</div>
					</div>
				</div>
				<h4><a href="#Tominiyi">OMOTOSHO TOMINIYI</a></h4>
				<h5>Counsellor</h5>
				</div>
				<div class="col-md-3 col-6">
					<div class="team-grids text-center">
						<img src="defaults/betty.jpg" class="img-fluid" alt="">
						<div class="team-info">
						<div class="caption">
							<div class="social-icons-section text-center">
							<a class="fac" mailto="adeyeyeb@babcock.edu.ng">
								<span class="fa fa-envelope"></span>
							</a>
							</div>
						</div>
						</div>
					</div>
					<h4><a href="#Betty">ADEYEYE BETTY EYIYEMI</a></h4>
					<h5>Counsellor</h5>
					</div>

					<div class="col-md-3 col-6">
						<div class="team-grids text-center">
							<img src="defaults/barretto.jpg" class="img-fluid" alt="ABAYOMI P. BARRETTO">
							<div class="team-info">
							<div class="caption">
								<div class="social-icons-section text-center">
								<a class="fac" mailto="barrettoa@babcock.edu.ng">
									<span class="fa fa-envelope"></span>
								</a>
								</div>
							</div>
							</div>
						</div>
						<h4><a href="#Barretto">ABAYOMI P. BARRETTO</a></h4>
						<h5>Counsellor</h5>
						</div>

						<div class="col-md-3 col-6">
							<div class="team-grids text-center">
								<img src="defaults/akande.jpg" class="img-fluid" alt="AKANDE OLANREWAJU DAVID">
								<div class="team-info">
								<div class="caption">
									<div class="social-icons-section text-center">
									<a class="fac" mailto="akanded@babcock.edu.ng">
										<span class="fa fa-envelope"></span>
									</a>
									</div>
								</div>
								</div>
							</div>
							<h4><a href="#Akande">AKANDE OLANREWAJU DAVID</a></h4>
							<h5>Counsellor</h5>
							</div>

							<div class="col-md-3 col-6">
								<div class="team-grids text-center">
									<img src="defaults/olaoye.jpg" class="img-fluid" alt="FLORENCE OLANIKE OLAOYE">
									<div class="team-info">
									<div class="caption">
										<div class="social-icons-section text-center">
										<a class="fac" mailto="olaoyef@babcock.edu.ng">
											<span class="fa fa-envelope"></span>
										</a>
										</div>
									</div>
									</div>
								</div>
								<h4><a href="#Olaoye">FLORENCE OLANIKE OLAOYE</a></h4>
								<h5>Counsellor</h5>
								</div>

								<div class="col-md-3 col-6">
									<div class="team-grids text-center">
										<img src="defaults/joshua.jpg" class="img-fluid" alt="UMAHI, JOSHUA">
										<div class="team-info">
										<div class="caption">
											<div class="social-icons-section text-center">
											<a class="fac" mailto="umahij@babcock.edu.ng">
												<span class="fa fa-envelope"></span>
											</a>
											</div>
										</div>
										</div>
									</div>
									<h4><a href="#Umahi">UMAHI, JOSHUA</a></h4>
									<h5>Counsellor</h5>
									</div>

									<div class="col-md-3 col-6">
										<div class="team-grids text-center">
											<img src="defaults/Gbenga.jpg" class="img-fluid" alt="OLUGBENGA AJAYI">
											<div class="team-info">
											<div class="caption">
												<div class="social-icons-section text-center">
												<a class="fac" mailto="ajayig@babcock.edu.ng">
													<span class="fa fa-envelope"></span>
												</a>
												</div>
											</div>
											</div>
										</div>
										<h4><a href="#Gbenga">OLUGBENGA AJAYI</a></h4>
										<h5>Counsellor</h5>
										</div>

										<div class="col-md-3 col-6">
											<div class="team-grids text-center">
												<img src="defaults/makinde.jpg" class="img-fluid" alt="MAKINDE ADEWOLE">
												<div class="team-info">
												<div class="caption">
													<div class="social-icons-section text-center">
													<a class="fac" mailto="makindea@babcock.edu.ng">
														<span class="fa fa-envelope"></span>
													</a>
													</div>
												</div>
												</div>
											</div>
											<h4><a href="#Makinde">MAKINDE ADEWOLE</a></h4>
											<h5>Counsellor</h5>
											</div>

											<div class="col-md-3 col-6">
												<div class="team-grids text-center">
													<img src="defaults/olivia.jpg" class="img-fluid" alt="OLIVIA UNEGBU">
													<div class="team-info">
													<div class="caption">
														<div class="social-icons-section text-center">
														<a class="fac" mailto="unegbuo@babcock.edu.ng">
															<span class="fa fa-envelope"></span>
														</a>
														</div>
													</div>
													</div>
												</div>
												<h4><a href="#Olivia">OLIVIA UNEGBU</a></h4>
												<h5>Academic Counsellor</h5>
												</div>

												<div class="col-md-3 col-6">
													<div class="team-grids text-center">
														<img src="defaults/chinyere.jpg" class="img-fluid" alt="ORI CHINYERE BLESSING">
														<div class="team-info">
														<div class="caption">
															<div class="social-icons-section text-center">
															<a class="fac" mailto="oric@babcock.edu.ng">
																<span class="fa fa-envelope"></span>
															</a>
															</div>
														</div>
														</div>
													</div>
													<h4><a href="#Chinyere">ORI CHINYERE BLESSING</a></h4>
													<h5>Counsellor</h5>
													</div>
													<div class="col-md-3 col-6">
														<div class="team-grids text-center">
															<img src="defaults/esther.jpg" class="img-fluid" alt="AJIBOLA IYADUNNI ESTHER">
															<div class="team-info">
															<div class="caption">
																<div class="social-icons-section text-center">
																<a class="fac" mailto="ajibolai@babcock.edu.ng">
																	<span class="fa fa-envelope"></span>
																</a>
																</div>
															</div>
															</div>
														</div>
														<h4><a href="#Esther">AJIBOLA IYADUNNI ESTHER</a></h4>
														<h5>Counsellor</h5>
														</div>
				</div>
				</div>
		</section>

		<section class="w3l-team py-3" id="team">
			<div class="container py-lg-4 py-sm-3 bg-white">
			<div class="header-sec text-center">
				<div class="title-content">
					<h6 class="sub-titlehny">Our Administrative Team</h6>
						<div class="separatorhny"></div>
				</div>
	
			</div>	
			<div class="row text-center mt-5">
				<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="defaults/okonkwo.jpg" class="img-fluid" alt="">
					<div class="team-info">
					<div class="caption">
						<div class="social-icons-section text-center">
						<a class="fac" mailto="okonkwoe@babcock.edu.ng">
							<span class="fa fa-envelope"></span>
						</a>
						</div>
					</div>
					</div>
				</div>
				<h4><a href="#okonkwo">DR. ELIZABETH N. OKONKWO</a></h4>
				<h5>Director</h5>
				</div>
				<div class="col-md-3 col-6">
				<div class="team-grids text-center">
					<img src="defaults/Tominiyi.jpg" class="img-fluid" alt="Tominiyi">
					<div class="team-info">
					<div class="caption">
						<div class="social-icons-section text-center">
						<a class="fac" mailto="omotoshot@babcock.edu.ng">
							<span class="fa fa-envelope"></span>
						</a>
						</div>
					</div>
					</div>
				</div>
				<h4><a href="#Tominiyi">OMOTOSHO TOMINIYI</a></h4>
				<h5>Assistant Director</h5>
				</div>
				<div class="col-md-3 col-6">
					<div class="team-grids text-center">
						<img src="defaults/damilola.jpg" class="img-fluid" alt="">
						<div class="team-info">
						<div class="caption">
							<div class="social-icons-section text-center">
							<a class="fac" mailto="aderibigbed@babcock.edu.ng">
								<span class="fa fa-envelope"></span>
							</a>
							</div>
						</div>
						</div>
					</div>
					<h4><a href="#Damilola">ADERIBIGBE DAMILOLA EUNICE</a></h4>
					<h5>Administrative Assistant</h5>
					</div>
				</section>
					
					<!--//team-sec-->
		<!--/w3l-services2-->
	<div class="w3l-services2 py-1">
		<div class="container py-xl-2 py-3">
		
		</div>
		<section class="container py-xl-2 py-3 my-5">

			<!-- Grid row -->
			<div class="row">
		
				<!-- Grid column -->
				<div class="col-md-12" id="okonkwo">
		
					<!-- Grid row -->
					<div class="row" >
		
						<!-- Grid column -->
						<div class=" col-md-3 ">
							<img src="defaults/okonkwo.jpg" class="img-fluid" alt="DR. ELIZABETH N. OKONKWO">
						</div>
						<!-- Grid column -->
		
						<!-- Grid column -->
						<div class="col-md-9">
							<h4 class="font-weight-bold">DR. ELIZABETH N. OKONKWO</h4>
							<p class="grey-text">Dr. Elizabeth N. Okonkwo, an accomplished Counsellor and Psychologist, is the Director of Students Support Center of Babcock University (BU). She is an alumna of the University of Ibadan and BU. <br> Dr. Okonkwo has a special knack in resolving life and behavioral issues with students and families. <br> She has served as Head of Clinical Psychology Unit at BU Teaching Hospital etc.  She is a Lecturer, and a Certified Marriage and Family Life Practitioner.  Dr. Okonkwo is a member of the Institute of Chartered Mediators and Conciliators (MICMC) and a member of Society for Peace Studies and Practice (MSPSP). <br> She is married to Dr. Okei Okonkwo and they are blessed with two grown up children.							
								</p>
								<div class="buttons mt-3">
									<a href="download" class="btn btn-style btn-primary">Book now</a>
								<hr>
								</div>
						</div>
						<!-- Grid column -->
					
						
					</div>
					<!-- Grid row -->
		
				</div>
				
					<!-- Grid column -->
					<div class="col-md-12" id="Tominiyi">
		
						<!-- Grid row -->
						<div class="row" >
			
							<!-- Grid column -->
							<div class=" col-md-3 ">
								<img src="defaults/Tominiyi.jpg" class="img-fluid" alt="OMOTOSHO TOMINIYI">
							</div>
							<!-- Grid column -->
			
							<!-- Grid column -->
							<div class="col-md-9">
								<h4 class="font-weight-bold">OMOTOSHO TOMINIYI</h4>
								<p class="grey-text">Omotosho, Tominiyi is an Assistant Director in Student Support Centre, Babcock University. She’s the Head of Special Duties Unit in charge of First Year Experience (FYE) and International Students. She had her M.Ed. in Counselling Psychology from University of Ibadan, Nigeria. Tominiyi is a member of Counselling Association of Nigeria (CASSON), a member of Association of Professional Counsellors of Nigeria (APROCON), a member of Positive Psychology Association of Nigeria (POPAN), a member of Society for Peace Studies and Practice (SPSP). She’s a registered and certified teacher (TRCN). She has served as mediator, counsellor, advocator and teacher for many years for students with poor Academic performance and behavioral challenges in higher institutions. She has passion in relating with youths and adolescents. She is happily married and blessed.
									
									</p>
									<div class="buttons mt-3">
										<a href="download" class="btn btn-style btn-primary">Book now</a>
									<hr>
									</div>
							</div>
							<!-- Grid column -->
			
						</div>
						<!-- Grid row -->
			
					</div>
						<!-- Grid column -->
						<div class="col-md-12" id="Betty">
		
							<!-- Grid row -->
							<div class="row" >
				
								<!-- Grid column -->
								<div class=" col-md-3 ">
									<img src="defaults/betty.jpg" class="img-fluid" alt="ADEYEYE BETTY EYIYEMI">
								</div>
								<!-- Grid column -->
				
								<!-- Grid column -->
								<div class="col-md-9">
									<h4 class="font-weight-bold">ADEYEYE BETTY EYIYEMI</h4>
									<p class="grey-text">Mrs. Adeyeye Betty Eyiyemi, a seasoned Social worker, is an Assistant Director at Students Support Centre, Babcock University with 16 years’ work experience in both nursing and social work practice. She had her M.Sc. Social Work (Health option) from Ladoke Akintola University of Technology and her B.Sc. Nursing from Valley View University, Accra Ghana. She is a Registered Nurse, Family planner and Registered Midwife in Nigeria. She is an adolescent and Youth health service provider. She is passionate in supporting students and advocating for their emotional, mental and physical wellbeing. <br> Betty coordinates individual and group counselling/therapy, service linkages – connecting students with helpful resources and coordinating support group programs for various health challenges - Sickle Cell Disease, Asthma, Seizure disorders, etc. She has been able to help fragile students and clients with major health challenges graduated successfully from the University through professional intervention. Her goal is to help students adequately address barriers to learning, and the need for them to realize their full potentials.  She is married to Pastor Dr. Ayodeji Adeyeye and their union is blessed with two wonderful children to the glory of God. 
										</p>
										<div class="buttons mt-3">
											<a href="download" class="btn btn-style btn-primary">Book now</a>
										<hr>
										</div>
								</div>
								<!-- Grid column -->
				
							</div>
							<!-- Grid row -->
				
						</div>
							<!-- Grid column -->
					<div class="col-md-12" id="Barretto">
		
						<!-- Grid row -->
						<div class="row" >
			
							<!-- Grid column -->
							<div class=" col-md-3 ">
								<img src="defaults/barretto.jpg" class="img-fluid" alt="ABAYOMI P. BARRETTO">
							</div>
							<!-- Grid column -->
			
							<!-- Grid column -->
							<div class="col-md-9">
								<h4 class="font-weight-bold">ABAYOMI P. BARRETTO</h4>
								<p class="grey-text">Abayomi P. Barretto is a seasoned Social Welfare Worker with 19 years of experience in interacting with young people at difference capacities in Babcock University, Nigeria. Barretto specializes in mentoring and role-modelling young minds. <br> He is a sterling force in the work place and uses his positive mind and attitude tirelessly to encourage others to success.<br> He is a member of Adventist Students Personnel Association of Nigeria (ASPAN). Barretto gets daily inspirations from his beautiful wife and 2 lovely daughters. He likes swimming and playing tennis in his spare time.
									</p>
									<div class="buttons mt-3">
										<a href="download" class="btn btn-style btn-primary">Book now</a>
									<hr>
									</div>
							</div>
							<!-- Grid column -->
			
						</div>
						<!-- Grid row -->
			
					</div>
							<!-- Grid column -->
							<div class="col-md-12" id="Akande">
		
								<!-- Grid row -->
								<div class="row" >
					
									<!-- Grid column -->
									<div class=" col-md-3 ">
										<img src="defaults/akande.jpg" class="img-fluid" alt="AKANDE OLANREWAJU DAVID">
									</div>
									<!-- Grid column -->
					
									<!-- Grid column -->
									<div class="col-md-9">
										<h4 class="font-weight-bold">AKANDE OLANREWAJU DAVID</h4>
										<p class="grey-text">My name is Akande Olarenwaju David, a Principal Social worker and public health educator at Student Support Centre, Babcock University with over 7 years of experience. David is a substance abuse Counsellor. <br> I am passionate working with young people with health and academic challenges and I have established excellent working relationship with them. <br> I seek opportunities to contribute to organizations within my specialization by solving relationship challenges. I am skilled in microsoft packages. I am interested in working with young people who abuse drugs and those who are physically challenged.
											</p>
											<div class="buttons mt-3">
												<a href="download" class="btn btn-style btn-primary">Book now</a>
											<hr>
											</div>
									</div>
									<!-- Grid column -->
					
								</div>
								<!-- Grid row -->
					
							</div>
							<!-- Grid column -->
							<div class="col-md-12" id="Olaoye">
		
								<!-- Grid row -->
								<div class="row" >
					
									<!-- Grid column -->
									<div class=" col-md-3 ">
										<img src="defaults/olaoye.jpg" class="img-fluid" alt="FLORENCE OLANIKE OLAOYE">
									</div>
									<!-- Grid column -->
					
									<!-- Grid column -->
									<div class="col-md-9">
										<h4 class="font-weight-bold">FLORENCE OLANIKE OLAOYE</h4>
										<p class="grey-text">Florence Olanike Olaoye is the Deputy Director and Head of Social Work Unit, Student Support Centre, Babcock University, Ilishan Remo, Ogun State, Nigeria.  She is a seasoned Educator, Social Worker and Administrator with decades of experience in teaching, mentoring and impacting lives. She is an alumnus of University of Ibadan and Adeyemi College of Education, Ondo, both in South West Nigeria. She is a passionate School Social Worker and Substance Abuse Counsellor.
															
											</p>
											<div class="buttons mt-3">
												<a href="download" class="btn btn-style btn-primary">Book now</a>
											<hr>
											</div>
									</div>
									<!-- Grid column -->
					
								</div>
								<!-- Grid row -->
					
							</div>
								<!-- Grid column -->
								<div class="col-md-12" id="Umahi">
		
									<!-- Grid row -->
									<div class="row" >
						
										<!-- Grid column -->
										<div class=" col-md-3 ">
											<img src="defaults/joshua.jpg" class="img-fluid" alt="UMAHI, Joshua">
										</div>
										<!-- Grid column -->
						
										<!-- Grid column -->
										<div class="col-md-9">
											<h4 class="font-weight-bold">UMAHI, JOSHUA</h4>
											<p class="grey-text">Mr. Joshua Umahi heads the International Students Office at Babcock University and by implication, responsible for all International students at Babcock University. He is an alumnus of Babcock University, Nigeria and also Andrews University, Michigan USA where he obtained a Master’s Degree in International Development. He is a development expert. Joshua is very passionate about finding solutions to poverty, suffering and marginalization in Africa. He is a member of International Association for Community Development (IACD). Joshua hails from Uburu in Ebonyi State, Nigeria. He is married to Felicia and they are blessed with two grown up lovely children. He sings, plays volleyball, swims and loves working with young people.
																											
												</p>
												<div class="buttons mt-3">
													<a href="download" class="btn btn-style btn-primary">Book now</a>
												<hr>
												</div>
										</div>
										<!-- Grid column -->
						
									</div>
									<!-- Grid row -->
						
								</div>
									<!-- Grid column -->
									<div class="col-md-12" id="Gbenga">
		
										<!-- Grid row -->
										<div class="row" >
							
											<!-- Grid column -->
											<div class=" col-md-3 ">
												<img src="defaults/gbenga.jpg" class="img-fluid" alt="OLUGBENGA AJAYI">
											</div>
											<!-- Grid column -->
							
											<!-- Grid column -->
											<div class="col-md-9">
												<h4 class="font-weight-bold">OLUGBENGA AJAYI</h4>
												<p class="grey-text">Olugbenga Ajayi is a Senior Counsellor at Student Support Centre, Babcock University. He is a seasoned counselor of over a decade; a public speaker, and a renowned behavioral psychologist.<br> Olugbenga is an associate member of the Chattered Institute of Personnel management. He has a Master’s degree in Counseling Psychology from Olabisi Onabanjo University, Nigeria and a professional diploma in Public Relations under the Nigerian Institute of Public Relations. His hobbies include traveling and listening to music. <br> He is happily married with two handsome boys.
													</p>
													<div class="buttons mt-3">
														<a href="download" class="btn btn-style btn-primary">Book now</a>
													<hr>
													</div>
											</div>
											<!-- Grid column -->
							
										</div>
										<!-- Grid row -->
							
									</div>

										<!-- Grid column -->
										<div class="col-md-12" id="Makinde">
		
											<!-- Grid row -->
											<div class="row" >
								
												<!-- Grid column -->
												<div class=" col-md-3 ">
													<img src="defaults/makinde.jpg" class="img-fluid" alt="MAKINDE ADEWOLE">
												</div>
												<!-- Grid column -->
								
												<!-- Grid column -->
												<div class="col-md-9">
													<h4 class="font-weight-bold">MAKINDE ADEWOLE</h4>
													<p class="grey-text">	Makinde Adewole works as a Principal Social worker at Students Support Centre, Babcock University.  He is a licensed Registered Nurse (RN) with 15+ years of clinical experience. <br> Adewole is a passionate and dedicated Social Worker with more than 6 years of experience. He is skilled in assessment, developing treatment plans, counseling, evaluation, and assisting vulnerable age groups in making important decisions.<br> He shows them how to manage their emotions which focuses on the ‘why’ and the ‘how’. He is highly empathetic and possesses excellent listening skills.
														
														</p>
														<div class="buttons mt-3">
															<a href="download" class="btn btn-style btn-primary">Book now</a>
														<hr>
														</div>
												</div>
												<!-- Grid column -->
								
											</div>
											<!-- Grid row -->
								
										</div>

											<!-- Grid column -->
											<div class="col-md-12" id="Olivia">
		
												<!-- Grid row -->
												<div class="row" >
									
													<!-- Grid column -->
													<div class=" col-md-3 ">
														<img src="defaults/olivia.jpg" class="img-fluid" alt="OLIVIA UNEGBU">
													</div>
													<!-- Grid column -->
									
													<!-- Grid column -->
													<div class="col-md-9">
														<h4 class="font-weight-bold">OLIVIA UNEGBU</h4>
														<p class="grey-text">I am Olivia Unegbu, a Principal Counsellor at Students Support Centre, Babcock University with over 10 years of working experience. I am an academic counsellor, with an extensive knowledge in proffering solution on academic challenges as it relates to academic stress and poor academic performance - low CGPA. I have a genuine interest and passion for assisting students with academic challenges. I am an excellent listener with good communication skills. I am married to Professor Vincent E. Unegbu and blessed with 4 children.
															</p>
															<div class="buttons mt-3">
																<a href="download" class="btn btn-style btn-primary">Book now</a>
															<hr>
															</div>
													</div>
													<!-- Grid column -->
									
												</div>
												<!-- Grid row -->
									
											</div>
												<!-- Grid column -->
												<div class="col-md-12" id="Chinyere">
		
													<!-- Grid row -->
													<div class="row" >
										
														<!-- Grid column -->
														<div class=" col-md-3 ">
															<img src="defaults/chinyere.jpg" class="img-fluid" alt="ORI CHINYERE BLESSING">
														</div>
														<!-- Grid column -->
										
														<!-- Grid column -->
														<div class="col-md-9">
															<h4 class="font-weight-bold">ORI CHINYERE BLESSING</h4>
															<p class="grey-text">	Ori Chinyere Blessing is an educational counseling psychologist with over 10 years’ work experience both in Secondary School and University settings.  She has great passion for working with young people especially those with behavioral challenges.  Her natural ability to empathize with clients has gained her the opportunity to record successes in both individual and group counselling session with the use of psychological instruments.  <br>She is comfortable working with people from all backgrounds who may be dealing with issues relating to trauma, depression, anxiety, sexual abuse, addiction and marital conflicts.  Chinyere also facilitates emotional competence trainings. She is a member of Counselling Association of Nigeria CASSON and positive Psychology Association of Nigeria POPAN.  She is married to Pastor Oni Abiodun Elijah and the marriage is blessed with three children.
																</p>
																<div class="buttons mt-3">
																	<a href="download" class="btn btn-style btn-primary">Book now</a>
																<hr>
																</div>
														</div>
														<!-- Grid column -->
										
													</div>
													<!-- Grid row -->
										
												</div>

														<!-- Grid column -->
														<div class="col-md-12" id="Esther">
		
															<!-- Grid row -->
															<div class="row" >
												
																<!-- Grid column -->
																<div class=" col-md-3 ">
																	<img src="defaults/esther.jpg" class="img-fluid" alt="AJIBOLA IYADUNNI ESTHER">
																</div>
																<!-- Grid column -->
												
																<!-- Grid column -->
																<div class="col-md-9">
																	<h4 class="font-weight-bold">AJIBOLA IYADUNNI ESTHER</h4>
																	<p class="grey-text">	Ajibola Iyadunni Esther is an Academic counsellor at the Students Support Centre, Babcock University. She earned her M.Sc. in Counseling Psychology at the University of Ibadan, Nigeria. <br> She is a competent counsellor with a track record of success in working with diverse client populations both on one-on-one and group settings. <br> She conducts freshmen orientation seminars and graciously assist students who are transitioning back to campus due to medical or psychological reasons. She offers practical advice to students dealing with challenges relating to poor academic performance. Esther is a compassionate listener, an excellent communicator with a strong sense of integrity and confidentiality.
																		
																		</p>
																		<div class="buttons mt-3">
																			<a href="download" class="btn btn-style btn-primary">Book now</a>
																		<hr>
																		</div>
																</div>
																<!-- Grid column -->
												
															</div>
															<!-- Grid row -->
												
														</div>
																<!-- Grid column -->
																<div class="col-md-12" id="Damilola">
		
																	<!-- Grid row -->
																	<div class="row" >
														
																		<!-- Grid column -->
																		<div class=" col-md-3 ">
																			<img src="defaults/damilola.jpg" class="img-fluid" alt="ADERIBIGBE DAMILOLA EUNICE">
																		</div>
																		<!-- Grid column -->
														
																		<!-- Grid column -->
																		<div class="col-md-9">
																			<h4 class="font-weight-bold">ADERIBIGBE DAMILOLA EUNICE</h4>
																			<p class="grey-text">Aderibigbe Damilola Eunice is an Administrative Assistant at the Students' Support Centre of Babcock University. She holds a B.Sc. degree in Microbiology from Obafemi Awolowo University, Ile-Ife. In her near-two-years’ experience as an Administrative assistant, she has effectively managed her office by executing given tasks with order, thoroughness and promptness. Her natural exuberance and good communication skills have enabled her to help meet the needs of the people she encounters daily. She is highly fascinated by figures of excellence in all walks of life and loves to grasp their approach/inspiration to success. Therefore, her drive to influence and impart young people as herself positively. At her leisure, she enjoys good music, informative books and revels spending quality time with close family and friends. 
																				
																				
																				</p>
																				<div class="buttons mt-3">
																					<a href="download" class="btn btn-style btn-primary">Book now</a>
																				<hr>
																				</div>
																		</div>
																		<!-- Grid column -->
														
																	</div>
																	<!-- Grid row -->
														
																</div>
										
			</div>
		</section>

	</div>
	<!--//w3l-services2-->
	<!-- Section: Features v.2 -->

<!-- Section: Features v.2 -->

	<%- include('./partials/footer') %>
	
	<!-- //copyright -->
	<!-- Template JavaScript -->
	<script src="js/template_scripts/jquery-3.3.1.min.js"></script>
	<script src="js/template_scripts/theme-change.js"></script>
	<!--/MENU-JS-->
	<script>
		$(window).on("scroll", function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 80) {
				$("#site-header").addClass("nav-fixed");
			} else {
				$("#site-header").removeClass("nav-fixed");
			}
		});

		//Main navigation Active Class Add Remove
		$(".navbar-toggler").on("click", function () {
			$("header").toggleClass("active");
		});
		$(document).on("ready", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
			$(window).on("resize", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
			});
		});
	</script>
	<!--//MENU-JS-->
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>
	<script src="js/template_scripts/bootstrap.min.js"></script>

	<!-- My Script -->
	<script src="js/script.js"></script>

</body>

</html>