<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Preventive Medical Category Bootstrap Responsive Template | Services :: W3Layouts</title>
	<link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
	<link rel="stylesheet" href="css/template_styles/style-starter.css">

	<!-- My Styles -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	
	<%- include('./partials/header') %> 

	<!--/w3l-breadcrumb-->
	<section class="w3l-about-breadcrumb">
		<div class="breadcrumb-bg breadcrumb-bg-about py-5">
			<div class="container">
				<h2 class="title">Choose Confidently</h2>
				<ul class="breadcrumbs-custom-path mt-3 text-center">
					<li><a href="index.html">Home</a></li>
					<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Departments </li>
				</ul>
			</div>
		</div>
	</section>
	<!--//w3l-breadcrumb-->
	<!--/services-->
	<section class="w3l-services1">
		<div id="content-with-photo4-block" class="py-5">
			<div class="container py-md-5 py-3">
				<div class="cwp4-two row">
					<div class="cwp4-text col-lg-6">
						<h6 class="sub-titlehny">Services</h6>
						<h3 class="hny-title">We are give the best Health services</h3>
						<div class="separatorhny"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut
							labore et
							dolore magna aliqua. Ut enim ad
							minim veniam, quis nostrud.
						</p>

						<ul class="cont-4">
							<li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet</li>
							<li><span class="fa fa-check"></span>Consectetur adipisicingelit </li>
							<li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet</li>
							<li><span class="fa fa-check"></span>Consectetur adipisicingelit</li>
						</ul>
					</div>
					<div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
						<img src="media/imgs/7.jpg" class="img-curve img-fluid" alt="" />
					</div>
				</div>
				<div class="fea-gd-vv row mt-5 pt-lg-4">
					<div class="float-lt feature-gd col-lg-4 col-sm-6">

						<div class="icon-info">
							<h5>Instant Medicine</h5>
							<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod
								tempor incididunt
								ut labore.
							</p>
						</div>

					</div>
					<div class="float-mid feature-gd col-lg-4 col-sm-6 mt-sm-0 mt-4">

						<div class="icon-info">
							<h5>Knee Surgery</h5>
							<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod
								tempor incididunt
								ut labore.
							</p>
						</div>
					</div>
					<div class="float-rt feature-gd col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">

						<div class="icon-info">
							<h5>Kidney Solution</h5>
							<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod
								tempor incididunt
								ut labore.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//services-->
	<!--/w3l-services3-->
	<section class="w3l-content-6 py-5">
		<div class="content-6-mian py-lg-5 py-md-4">
			<div class="container">
				<div class="content-info-in row">
					<div class="content-gd col-lg-5">
						<h6 class="sub-titlehny">Our Skills</h6>
						<h3 class="hny-title two mb-4">We Are Always Health Give Of Best Service</h3>
						<div class="separatorhny"></div>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, odit! Perspiciatis et
							consequuntur non, modi quo mollitia labore laborum voluptas quia officiis fugit soluta
							molestias
							quaerat sapiente sunt.
						</p>
					</div>
					<div class="content-gd col-lg-6 offset-lg-1">
						<div class="progress-info">
							<h6 class="progress-tittle">Expert Doctors</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info">
							<h6 class="progress-tittle">Advanced Equipments
							</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
									aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info">
							<h6 class="progress-tittle">Healthy Living Program</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%"
									aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
						<div class="progress-info mb-0">
							<h6 class="progress-tittle">Health Care</h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//w3l-services3-->
	<!--/w3l-services2-->
	<div class="w3l-services2 py-5">
		<div class="container py-xl-5 py-3">
			<div class="title-content">
				<h6 class="sub-titlehny">Some More Features</h6>
				<h3 class="hny-title">What We Provide</h3>
				<div class="separatorhny"></div>
			</div>
			<div class="row features mt-4">
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service1"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Instant Medicine</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service2"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Kidney Solution</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service3"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Knee Surgery</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service4"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Eye Care</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service5"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Body Surgery</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 feature-grid">
					<a href="#url">
					</a>
					<div class="feature-body service6"><a href="#url">

						</a>
						<div class="feature-info mt-4"><a href="#url">
								<h3 class="feature-titel mb-2">Dental Care</h3>
								<p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
									ipsum.
								</p>
							</a><a href="#read" class="read mt-4 d-block"> Read More</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--//w3l-services2-->

	<%- include('./partials/footer') %>
	
	<!-- //copyright -->
	<!-- Template JavaScript -->
	<script src="js/template_scripts/jquery-3.3.1.min.js"></script>
	<script src="js/template_scripts/theme-change.js"></script>
	<!--/MENU-JS-->
	<script>
		$(window).on("scroll", function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 80) {
				$("#site-header").addClass("nav-fixed");
			} else {
				$("#site-header").removeClass("nav-fixed");
			}
		});

		//Main navigation Active Class Add Remove
		$(".navbar-toggler").on("click", function () {
			$("header").toggleClass("active");
		});
		$(document).on("ready", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
			$(window).on("resize", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
			});
		});
	</script>
	<!--//MENU-JS-->
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>
	<script src="js/template_scripts/bootstrap.min.js"></script>

	<!-- My Script -->
	<script src="js/script.js"></script>

</body>

</html>