
* {
    box-sizing: border-box !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loginFormMod {
    grid-template-columns: none !important;
}

.hide {
    display: none !important;
}

.shake {
    animation: shakeEffect .5s 1 linear;
}

@keyframes shakeEffect {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.headtext {
    text-transform: capitalize;
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0px;
}

.active-client,
.reported-client,
.disabled-client {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}

.rooms-container {
    background-color: #f1f2f4;
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
}

.rooms-inner {
    border: 1px solid rgb(220, 220, 250);
    background-color: white;
    height: 610px;
}

.allRooms{
    transition: width .5s;
}

.contacts {
    height: fit-content;
    height: -moz-fit-content;
    min-height: 610px;
    width: 100%;
    border-right: 1px solid lavender;
}

.contacts-list {
    padding: 0px 10px;
    overflow-y: auto;
    max-height: 500px;
}

.searchandprofile {
    height: 70px;
    max-width: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: whitesmoke;
}

.profileIcon {
    width: 12%;
    text-align: center;
}

.profileIcon:hover{
	cursor: pointer;
}

.profileIconImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.search-div {
    width: 88%;
}

.search-box {
    width: 95%;
    border: 1px solid gray;
    border-radius: 10px;
    height: 35px;
    padding: 0px 10px;
}

.eachContact {
    display: flex;
    place-content: baseline;
    min-height: 60px;
}

.eachContact:hover {
    background-color: whitesmoke;
}

.previousChat {
    margin-top: 5px;
}

.contactPicture>img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
}

.contactName {
    font-weight: 600;
    font-size: 1.25vw;
}

.recentChat {
    font-weight: normal;
    margin: 7px 0px 0px 0px;
    font-size: 1.1vw;
}

.contactInfo {
    height: 70px;
    background-color: whitesmoke;
    padding: 10px 10px 0px 30px;
}

.contactNameInner {
    font-weight: 400;
    font-size: 1.2vw;
}

.status {
    font-weight: normal;
    margin-top: 10px;
    font-size: .9vw;
}

.videoandvoice {
    display: flex;
    place-items: center;
    max-width: 25%;
    width: 25%;
    place-content: end;
}

.videoandvoiceIcons {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
}

.videoandvoiceIcons:hover{
    background-color: rgb(211, 211, 211);
}

.nameandstatus {
    width: 75%;
}

.chatsFeed {
    height: 500px;
    width: 100%;
    background-image: url('/defaults/chats.jpg');
    background-size: contain;
    overflow-y: auto;
    padding: 10px;
}

.msgbox {
    height: fit-content;
    height: -moz-fit-content;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.msgbtn:hover {
    cursor: pointer;
}

.incoming {
    float: left;
    width: 100%;
    margin: 5px 0px;
}

.outgoing {
    float: right;
    clear: right;
    margin: 5px 0px;
}

.messageSection {
    height: fit-content;
    height: -moz-fit-content;
    width: fit-content;
    width: -moz-fit-content;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid lavender;
    border-radius: 0% 5px 5px 5px;
    max-width: 600px;
}

.messageSection2 {
    height: fit-content;
    height: -moz-fit-content;
    width: fit-content;
    width: -moz-fit-content;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid lavender;
    border-radius: 5px 0% 5px 5px;
    max-width: 600px;
}

.actualMsg {
    color: black;
    font-size: 1vw;
    font-weight: normal;
}

.msgDate {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    margin: 5px 0px 0px 0px;
}

.dateandseen {
    display: flex;
    place-content: end;
}

.seenicon {
    padding-left: 5px;
    font-size: 20px;
}

.recent {
    display: flex;
    min-width: 26vw;
    place-items: baseline;
}

.recentChat {
    width: 25vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seen {
    color: #007bff;
}

.notifcation-dot {
    height: 10px;
    width: 10px;
    background-color: blue;
    border-radius: 50%;
}

.inactive-room-text{
    padding: 5px 0px;
    font-weight: 100;
    text-transform: capitalize;
    font-style: italic;
}

.errorContainer{
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 1;
    padding-top: 100px;
    display: flex;
    place-content: center;
    text-align: center;
}

.errorText{
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
}

.slideIn{
	position: absolute;
    width: 0;
    background-color: whitesmoke;
    height: 610px;
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    overflow-y: auto;
}

.slideInheading{
	display: flex;
    place-content: center;
    place-items: center;
    height: 70px;
    justify-content: space-between;
    padding: 0px 40px;
	background-color: #3a0ca3;
    color: white;
}

.slideInheading > h4{
	font-size: 25px;
	font-weight: 300;
	color: white;
}

.closeSlideIn{
	font-size: 30px;
}

.closeSlideIn:hover{
    cursor: pointer;
}

.profilePicture{
    display: flex;
    place-content: center;
    place-items: center;
    height: 250px;
    transform: scale(0);
    transition: all .3s;
}

.profilePicture > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profilePicture > img:hover{
    background-color: grey;
}

.changePhoto{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    display: flex;
    place-content: center;
    flex-direction: column;
    place-items: center;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: all .5s;
}

.changePhoto:hover{
    opacity: .7;
    cursor: pointer;
}

.changePhoto > i{
    font-size: 30px;
    color: black;
    margin: 0px 0px 15px 0px;
}

.changePhotoText{
    padding: 0px 15px;
    font-weight: normal;
    font-size: 20px;
}

.profileDetails{
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
}

.eachDetail{
    height: 75px;
    padding: 0px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-evenly;
    border-bottom: lavender 1px solid;
    box-shadow: 0px 0px 5px lavender;
    margin-bottom: 10px;
}

.detailName{
    font-size: 13px;
    font-weight: normal;
}

.detailValue{
    font-size: 15px;
    color: lightslategrey;
    width: 100%;
    float: left;
}

.detailValue:focus-visible{
    border-bottom: 2px solid #3a0ca3;
}

.editPen{
    position: absolute;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.saveEdit{
    position: absolute;
    font-size: 20px;
    color: #3a0ca3;
}

.resetPassword{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.resetPassword:hover{
    cursor: pointer;
    color: #3a0ca3;
}

.preloader{
    height: 20px;
    width: 20px;
    border-width: 2px;
    position: absolute;
}

.big-preloader{
    height: 40px !important;
    width: 40px !important;
    border-width: 2px;
    position: absolute;
    color: white;
}

.large-preloader{
    height: 70px !important;
    width: 70px !important;
    border-width: 10px;
    border-style: dotted;
    position: absolute;
    color: #007bff;
}

.toast4UpdateInfo{
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    place-items: end;
    flex-direction: column;
    position: absolute;
    padding-right: 20px;
    z-index: 1;
}

.myToast{
    opacity: 1 !important;
}

.contactAdditionalInfo{
    max-height: 100%;
    overflow: auto;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}

.header4closeextra{
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    text-align: right;
}

.header4closeextra > span{
    font-size: 40px;
    margin: 10px 20px;
}

.header4closeextra > span{
    cursor: pointer;
}

.ratingHeader{
    font-weight: normal;
    font-size: 19px;
    margin: 0px 0px 20px 0px;
}

.stars > i{
    font-size: 25px;
    padding: 0px 5px;
}

.active-star{
    color: gold;
}

#ratingEquivalentText{
    margin: 15px 0px 0px 0px;
    font-weight: normal;
    font-size: 15px;
}

.systemMessage{
    display: flex;
    place-content: center;
    width: 100%;
    margin: 5px 0px;
}

.adminIcon{
    color: #3a0ca3;
}

.adminIcon:hover{
    opacity: .7;
}

.disabled{
    color: grey;
    opacity: .5;
}

.disabled:hover{
    color: grey;
}

.navGreeting > h4{
    font-weight: 600;
    font-size: 20px;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.bu_logo{
    height: 40px;
}