<html>

  <div style="@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); font-family: 'Roboto';">
    <div style="display: flex; place-items: center;">
      <img style="height: 50px; width: 50px;" src="https://bucare.herokuapp.com/media/imgs/template/bu_logo.jpg" alt="Babcock University Logo">
      <h4 style="margin: 0px 0px 0px 5px; font-size: 20px; font-weight: 400;">BUCare</h4>
    </div>
    <div>
      <h4 style="font-size: 20px; font-weight: 600; margin: 10px 0px;">Reset password authetication token</h4>
    </div>
    <div>
      <h4 style="margin: 0px 0px 10px 0px; font-size: 18px; font-weight: 100;">This email confirms that {{purposeInWord}}, Thank you for choosing BUCare</h4>
    </div>
    <div style="height: 1px; width: 90%; border-top: 1px solid grey; margin-left: 5%;"></div>
    <div style="display: flex; place-items: center; place-content: center; flex-direction: column;">
      <img style=" margin: 20px 0px 10px 0px; height: 70px; width: 70px;" src="https://bucare.herokuapp.com/media/imgs/template/bu_logo.jpg" alt="Babcock University Logo">
      <h4 style="font-size: 16px !important; font-weight: 100; margin: 5px 0px;">Made with 💖 in Babcock University</h4>
      <h4 style="font-size: 13px; font-weight: 100; margin: 5px 0px;">121103, Ilishan-Remo Ogun State, Nigeria</h4>
      <h4 style="font-size: 13px; font-weight: 100; margin: 5px 0px;"><a href="{{websiteUrl}}">{{websiteUrl}}</a></h4>
    </div>
  </div>
  
</html>