<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- my Styles -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body onload="videoCall()">

    <div id="feeds" class="video-feeds">
        
    </div>
    
    <script>
        const ROOM_ID = '<%= RoomID %>';
    </script>

    <!-- This has to come first so the socket variable is available before the script calls it -->
    <script defer src="/socket.io/socket.io.js"></script>

    <!-- This is for the video calling  -->
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <!-- My JS Links -->
    <script defer src="/js/script.js"></script>

</body>
</html>